body {
	font-family: myriad pro;
    background-image: url("./assets/bgimage.jpg");
    background-color: #cccccc;
}

h1{
    margin-top: 15;
    margin-bottom: 5;
	color: #06475c;
	font-size: 34px;
    font-weight: bold;
}

h2{
    margin-top: 5;
    margin-bottom: 5;
	color: #06475c;
	font-size: 20px;
    font-weight: bold;
}

h3{
    margin-top: 5;
    margin-bottom: 0;
	color: #06475c;
	font-size: 16px;
    font-weight: bold;
	text-decoration: underline;
}

h4{
	
}

ul {
    list-style-type: none;
}

a{
    margin-top: 0;
    margin-bottom: 0;
	color: #096c8d;
	font-size: 13px;
	text-decoration: none;
}

.head {
	width: 100%;
	height: 10%;
    top: 0;
    position: absolute;
    left: 0;
    z-index: 100;
	
	background-color: #18b8ed;
}

.foot {
	width: 100%;
	height: 40px;
    left: 0;
    position: absolute;
    z-index: 100;
	
	background-color: #18b8ed;
}

.staticFollower {
	width: 100%;
	height: 5%;
    position: absolute;
    top: 10%;
    left: 0;
	vertical-align: middle;
	
	background-color: #16aadb;
}

.follower {
	width: 100%;
	height: 5%;
    position: fixed;
    top: 0;
    left: 0;
	vertical-align: middle;
	
	background-color: #16aadb;
}
	
.table {
	width: 75%;
	display: block;
    border: 1px solid #06475c;
    margin: auto;
	
	background-color: #ffffff;
}
.cell {
	display: inline-block;
	vertical-align: top;
}